* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import '../Partial-files/variables';
@import '../Partial-files/functions';
@import '../Partial-files/mixins';

body {
    // font-size: responsive-font-sizes(15, 24, 360, 1920);
    color: $white;
    font-size: responsive-font-sizes(16, 24, 360, 1920);
    // @include responsive-font-sizes()
    font-family: $regular;
    // font-family: monospace
}

.row {
    @include row();
}

// container fluid and container
.container-fluid {
    width: $w-100;
    padding-left: 6%;
    padding-right: 6%;
}

.container {
    width: $w-100;
    max-width: $max-width;
}

// classes

.w-100 {
    width: $w-100;
}

.d-flex {
    display: $d-flex;
}

.flex-wrap {
    flex-wrap: $wrap;
}

.justify-content-between {
    justify-content: $space-between;
}

.align-items-center {
    align-items: $center;
}

.d-block {
    display: block !important;
}

.transition {
    right: 0 !important;
    @include transition(all .5s ease-in-out);
}

a {
    text-decoration: none;
    color: white;

    &:hover {
        text-decoration: none;
        color: $text-hover-color;
        transition: all .3s ease-in-out;
    }
}

ul {
    li {
        list-style-type: none;
    }
}

@import '../Partial-files/loops';

// header start
@import '../Partial-files/header';
// header end